*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

thead {
  height: 50px;
}

table > thead > tr > th {
  background-color: aliceblue;
}

.table-header {
  font-size: 14px;
}

table > tbody > tr > td,
table > thead > tr > th {
  border-bottom: 1px solid rgb(163, 187, 207);
  border-right: 1px solid rgb(163, 187, 207);
}
